<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(60,60,80,0.6) 20%), url('<%= cl_image_path "travel_2_jfjeqd" %>')">

    <div class="banner-content">

      <h1>Where is the next stop?</h1>
      <br>


    </div>
  </div>
